@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: 400;
  height: 80px;
  width: 100%;
  background:#16A5C7;
  line-height: 80px;
  color: white;
  font-size: 30px;
  position: fixed;
}

.navbar {
  width: 300px;
  height: 1000px;
  background: #1A8DA9;
  float:left;
  position: fixed;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 20px;
  padding-right: 100px;
}

.navbar ul li{
  list-style-type: none;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #236D7F;
}

.navbar ul li:hover{
  background: white;
  transition: linear all 0.40s;
  margin-left: 10px;
}

.navbar ul li a:hover{
  color: black;
}

.selected {
  background: white;
}

.selected a{
  color: black;
}

.header {
  position: fixed;
}

.main {
  width:100%;
  padding-top: 80px;
}

.content {
  padding: 20px 20px 0 310px;
}

.regular {
	/* Montserrat Regular = 400 */
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.button {
  display: inline-block;
  padding: 5px 8px;
  margin: 5px 0 0 -2px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff8c00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.button:hover {background-color: #d67602}

.button:active {
  background-color: #d67602;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
